body{
    background-color: pink;
}
   




.section1-heading{
  text-align: center;
    width: 480px;
 padding: 10px;
  border: 5px solid black;
  margin-left: 450px;

}
.Section2-heading{
    margin-left: 40px;


}
.section2{
    display:

    margin-top: 90px;

}
.section2-heading2{
    padding-bottom: 60px;
    padding-left: 10px;
}
